html, body {margin:0; padding:0; height:100%;}
.container {position: relative;	min-width:999px; min-height:100%;}
img {border:none;}
* {margin:0px; padding:0px;}

.header {position:relative; height:160px;}
.header2 {position:relative; height:40px;}


.left {float:left; position:relative; width:200px;}
.right {float:right; position:relative; width:200px;}


.end_content {position:relative; height:100px; clear:both;}
.txt {padding-left:220px;padding-right:200px;}



.footer {min-width:999px; position:relative; margin-top:-100px; height:100px;}

.filter { padding: 0 0 20px 0;}
.filter input[type="button"] { width: 20px; height: 20px; border:none; background: cornflowerblue; display: inline-block; color: white;}
.filter span { margin-left: 20px;}


.left ul { list-style: none;}
.left ul li.active { background: ghostwhite;}
.left ul ul { margin-left: 15px;}


.catalog { width: 100%; list-style: none; float:left; }
.catalog > li {padding:0 0 20px 0; width: 20%; float:left;}

