<bread-crumb></bread-crumb>

<div class="filter">
    <select ng-change="selectBrand.change()" name="selectBrand" ng-model="selectBrand.selected"
	 ng-options="option.name for option in selectBrand.availableOptions track by option.id"
	>
        <option value="">Выберете бренд</option>
  
    </select>

    <span>Сортировать по цене: </span>
    <input type="button" value="&uarr;" />
    <input type="button" value="&darr;" />

    <span>по размерам: </span>
	<select ng-change="selectSize.change()" name="selectSize" ng-model="selectSize.selected">
        <option value="">Выберете размер</option>
        <option ng-repeat="option in selectSize.availableOptions" value="{{option.id}}">{{option.name}}</option>
    </select>
	
	
</div>


<div>
    <ul class="catalog">
        <li ng-repeat="item in filteredItems">
        <a ui-sref="catalogNameItem({name: category, id: item.id, itemName: item.translit})"><img ng-src="http://halatik.com.ua/view/frontend/img/items/{{item.id}}.jpg" width="50" /></a>
        <h4>{{item.name}}</h4>
        <select ng-hide="true"><option ng-repeat="child in item.size" value="{{child}}">{{child}}</option></select>
        <p>{{item.price}} грн.</p>
     </li>
    </ul>

     <pagination
      ng-model="currentPage"
      total-items="items.length"
      max-size="maxSize"
      boundary-links="false"
      next-text="вперед"
      previous-text="назад"
      ng-hide="items.length <= numPerPage"
      ng-change="pageChanged()">
    </pagination>
</div>