<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Private</a></li>
    <li><a href="#">Pictures</a></li>
    <li class="active">Vacation</li>
</ul>

<div class="filter">
    <select>
        <option>Выберете бренд</option>

        <option>Hays</option>
        <option>Cocoon</option>
        <option>PlayNew</option>
        <option>Virginia Secret</option>
    </select>

    <span>Сортировать по цене: </span>
    <input type="button" value="&uarr;" />
    <input type="button" value="&darr;" />

    <span>по размерам: </span>
    <select>
        <option>Выберете размер</option>

        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
        <option>XXL</option>
        <option>XXXL</option>
        <option>XXXXL</option>
    </select>
</div>

<ul>
    <li ng-repeat="item in data.pagination.items.slice(((data.pagination.page -1) * data.pagination.limit), ((data.pagination.page) * data.pagination.limit)) track by $index">{{ item.name }}</li>
</ul>
<ez-paginator pagination="data.pagination" show-boundary-links="true"></ez-paginator>




<div ng-hide="$state.current.name === 'catalogName.Item'">
    <!-- <ul class="catalog">
    -    <li ng-repeat="item in items">
         <a ui-sref="catalogNameItem({name: category, id: item.id, itemName: item.translit})"><img ng-src="http://halatik.com.ua/view/frontend/img/items/{{item.id}}.jpg" width="50" /></a>
         <h4>{{item.name}}</h4>
         <select ng-hide="true"><option ng-repeat="child in item.size" value="{{child}}">{{child}}</option></select>
         <p>{{item.price}} грн.</p>
      </li>


         <li ng-repeat="item in items.slice(((data.pagination.page -1) * data.pagination.limit), ((data.pagination.page) * data.pagination.limit)) track by $index">{{ item.name }}</li>
     </ul>
     -->
</div>